<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <title>User Registration</title>
    </head> 
    <body>
        <div class="jumbotron container">
        <h2 align="center">You are Registered</h2>

		<form action="/" method="POST">
			<table class="table table-striped">
			<tbody>
				<tr>
					<td align="right">Email:</td>
					<td><%= input.email %></td>
					<td></td>
				</tr>
				<tr>
					<td align="right">Password:</td>
					<td><%= input.password %></td>
					<td></td>
				</tr>
				<tr>
					<td align="right">Programming Skills:</td>
					<td>
						<%if(input.nodejs) {%>
							Nodejs &nbsp
							<%}%>

						<%if(input.java) {%>
								 Java &nbsp
								<%}%>
						<%if(input.aspnet) {%>
								 ASP.NET &nbsp
								<%}%>
						<%if(input.php) {%>
							
								 PHP &nbsp
								<%}%>
					</td>
					<td></td>
				</tr>
				<tr>
					<td align="right">Major:</td>
					<td>
							<%if(input.major == "cs") {%>
								CS &nbsp
							<%}%>
							<%if(input.major == "se") {%>
								SE &nbsp
							<%}%>
					</td>
					<td></td>
				</tr>
				<tr>
					<td align="right">Residency:</td>
					<td>
						
							<%if(input.city == "edmond") {%>
								Edmond
							<%}%>
							<%if(input.city == "okc") {%>
								Oklahoma City
							<%}%>
							<%if(input.city == "moore") {%>
								Moore
							<%}%>
							<%if(input.city == "bethany") {%>
								Bethany
							<%}%>
							<%if(input.city == "norman") {%>
								Norman
							<%}%>
							
					</td>
					<td></td>
				</tr>
				<tr>
					<td></td>
				</tr>
			</tbody>
			</table>
		</form>

        </div> <!-- jumbotron -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>